@import url("https://use.typekit.net/uua0slj.css");


/*---------------------- General ------------------------*/

/*---------------------- #fafafa ------------------------*/

:root{
  --background: white;
  --couleur: #0d0d0d;
}

* {
    font-family: "neue-haas-grotesk-text", Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: small;
    color: var(--couleur);
    line-height: 1.1;
    vertical-align: top;
}

html {
    background-color: var(--background);

}

body {
    display: flex;
    flex-direction: column;

}



a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
  } 
  a:active { 
    text-decoration: none; 
  }


  em {
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 500;
    font-style: italic;
}

strong {
  text-decoration: underline;
}


table {
    width: 100%;
    table-layout: fixed;
    vertical-align: top;
    text-indent: 1em hanging each-line;

  }


header, .project {
    border-bottom: 2px solid var(--couleur);
  }




table {
  margin: 0.5em 0em 0.5em 0em ;
}

td:first-child {
  padding-left: 0.5em;
}

header {
  padding-bottom: 1em;
}


/*---------------------- Infos projet ------------------------*/

.project {
  padding-bottom: 0.5em;
}

td {
  padding-right: 2em;
}



/*---------------------- Caroussel ------------------------*/


.carousel {
  display: flex;
  flex-wrap: wrap;
  
}

img, video {
  height: 25vw;
  border: 0;
}





/*---------------------- Tablet ------------------------*/


@media only screen and (min-device-width : 401px) and (max-device-width : 710px) {


td:nth-child(3) {
  display: none
}

img, video {
  height: 33vw;
  border: 0;
}

td {
  padding-right: 1em;
}

}





/*---------------------- Mobile ------------------------*/


@media only screen and (max-width : 400px) {
  * {
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: x-small;
    line-height: 1.05;
}

td:nth-child(3) {
  display: none
}

img, video {
  height: 50vw;
  border: 0;
}

td {
  padding-right: 1em;
}

.smaller {
  height: 40vw;
}

.smaller_2 {
  height: 30vw;
}

.smaller_3 {
  height: 20vw;
}

}
