@import url("https://use.typekit.net/uua0slj.css");

* {
    font-family: "neue-haas-grotesk-text", Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: medium;
    color: rgb(13, 13, 13);
    line-height: 1.1;
}

html{
    background-color: rgb(250, 250, 250);
    vertical-align: bottom;

}

body {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    
}

em {
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 500;
    font-style: italic;
}

a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
  } 
  a:active { 
    text-decoration: none; 
  }

table {
    width: 100%;
    margin-bottom: 1em;
    table-layout: fixed;
    vertical-align: top;
    text-indent: 1em hanging each-line;

  }


td {
    border-top: 1.5px solid rgb(23, 23, 23);
    padding: 2px 0px 2px 0px;
    vertical-align: top;
  }

.first td {    
  border-top: 0px;

}


header {
  border-bottom: 1.5px solid rgb(23, 23, 23);
}




header table, header th, header td {
    border: 0px;
    padding: 0px 0px 0px 0px;
}

img, video{
  height: 101vh;
  max-height: 101vh;

}

a .hover-img span {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:-99;
  visibility: hidden;
  vertical-align: middle;


}

a:hover .hover-img span {
  visibility: visible;


  
}


a p {
  padding-left: 1em;
}

section {
  height: 100vh;
  overflow: scroll;

}

footer{
  display: none;
}




@media only screen and (max-width : 400px) {
  * {
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: small;
    color: rgb(23, 23, 23);
    line-height: 1.2;
}

td:nth-child(4) {
  display: none
}

img, video{
  height: 101vw;
  max-height: 101vw;

}

  }



